<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                      http://www.springframework.org/schema/context 
                      http://www.springframework.org/schema/context/spring-context-4.0.xsd 
                      http://www.springframework.org/schema/mvc 
                      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx ">

	<!-- 配置controller扫描包 -->
	<context:component-scan base-package="com.emp.controller" />
	<!-- 注解驱动 -->
	<mvc:annotation-driven />
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置逻辑视图的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 配置逻辑视图的后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 文件上传,id必须设置为multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件上传大小 -->
		<property name="maxUploadSize" value="500000000" />
	</bean>

<!--	&lt;!&ndash;配置validator&ndash;&gt;-->
<!--	&lt;!&ndash; 以下 validator ConversionService 在使用 mvc:annotation-driven会 自动注册&ndash;&gt;-->
<!--	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
<!--		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>-->
<!--		&lt;!&ndash; 如果不加默认到 使用classpath下的ValidationMessages.properties &ndash;&gt;-->
<!--		<property name="validationMessageSource" ref="messageSource"/>-->
<!--	</bean>-->
<!--	&lt;!&ndash; 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） &ndash;&gt;-->
<!--	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
<!--		<property name="basenames">-->
<!--			<list>-->
<!--				&lt;!&ndash; 在web环境中一定要定位到classpath 否则默认到当前web应用下找 &ndash;&gt;-->
<!--				<value>classpath:messageError</value>-->
<!--				&lt;!&ndash;国际化配置文件，能否使用待定&ndash;&gt;-->
<!--				<value>classpath:org.hibernate.validator.ValidationMessages</value>-->
<!--			</list>-->
<!--		</property>-->
<!--		<property name="useCodeAsDefaultMessage" value="false"/>-->
<!--		<property name="defaultEncoding" value="UTF-8"/>-->
<!--		<property name="cacheSeconds" value="60"/>-->
<!--	</bean>-->


	<!--全局异常处理器-->
	<bean class="com.emp.GlobalException.MyExceptionResolver"/>
</beans>
