<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emp.dao.EmployeeDao" >

    <select id="getAll" resultType="com.emp.pojo.Employee">
        select eid, age, empname,sex, address from employee
    </select>

    <select id="getEmployee" parameterType="Long" resultType="com.emp.pojo.Employee">
        select eid, age, empname,sex, address from employee where eid = #{eid}
    </select>

    <insert id="add" parameterType="com.emp.pojo.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into employee(age, sex, empname,address) values(#{age}, #{sex}, #{empname},#{address})
    </insert>

    <update id="update" parameterType="com.emp.pojo.Employee">
        update employee set age=#{age},sex=#{sex},empname=#{empname},address=#{address} where eid=#{eid}
    </update>

    <delete id="delete" parameterType="Long">
        delete from employee where eid=#{eid}
    </delete>

</mapper>
